cluster_weights.xlsx
feature_description.xlsx
sample_submission.csv
test_data.pqt
train_data.pqt
baseline_submission.csv
.ipynb_checkpoints/Alpha_baseline-checkpoint.ipynb
.ipynb_checkpoints/baseline-checkpoint.ipynb
